.main_landing {
  height: 300vh;
  width: 100%;
  // border: 2.5px dashed orange;
  // background: lightcyan;

  .img_overlay {
    height: 90%;
    width: 100%;
    background: #151414ee; /* fallback for old browsers */
    // background: -webkit-linear-gradient(to left, #29323c, #485563);  /* Chrome 10-25, Safari 5.1-6 */
    // background: linear-gradient(to left, #29323c, #485563); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    // opacity: 0.90;
    // z-index: 0;
    position: absolute;
  }
  .top_castle {
    // margin: auto;
    background-image: url("https://s3.us-east-2.amazonaws.com/hpsocial/castle.jpg");
    // background-color: #cccccc; /* Used if the image is unavailable */
    height: 29%; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: contain; /* Resize the background image to cover the entire container */
    background-attachment: fixed; /* Parallax */
    // z-index: -10;
    opacity: 0.35;
  }
  .mid_container {
    height: 80vh;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    background: #9d9d9ba3;

    .card {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      height: 40vh;
      width: 30vw;
      background: #f7f7f9b6;
      border-radius: 3%;
      img {
        height: 15vh;
        width: auto;
      }
    }
  }
  .bottom_container {
    height: 20%;
    background: #d8d4dcb7;
    background-image: url("https://s3.amazonaws.com/hp-project/Elder_Wand.png");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: contain; /* Resize the background image to cover the entire container */
    // background-attachment: fixed; /* Parallax */
  }
}
