$slytherin_green: #1a472a;
$slytherin_silver: #5d5d5d;
$gryffindor_red: #740001;
$gryffindor_gold: #d3a625;
$ravenclaw_blue: #0e1a40;
$ravenclaw_bronze: #946b2d;
$hufflepuff_black: #372e29;
$hufflepuff_yellow: #ecb939;

.card_main {
	position: relative;
	display: flex;
	margin-left: 1vw;
	margin-top: 1vh;
	margin-right: 1vw;
	width: 96%;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	height: auto;
	padding: 1%;
	background: #e9e7d3;
	border-bottom: 2px solid lightgrey;
	border-left: 2px solid lightgrey;
	color: black;

	img {
		max-width: 300px;
	}

	.new_title {
		margin: 10px;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 80%;
		align-self: center;
		background: none;
	}

	.new_buttons {
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
	}
	.gif {
		background: none;
		max-width: 300px;
		margin: 10px;
		align-self: center;
	}
	.gif_input {
		margin: 10px;
		background: none;
	}
	.top_left {
		display: flex;
	}
	.submit_tweet {
		align-self: flex-end;
	}

	.new_tweet {
		margin: 10px;
		width: 80%;
		background: none;
		height: 150px;
	}

	.top_username {
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: auto;
		width: 100%;

		.top_left {
			display: flex;
			align-items: center;

			h3 {
				font-size: 0.5em;
				font-weight: bold;
				padding-left: 4%;
			}
			.gryffindor {
				height: 60px;
				width: 50px;
			}
		}

		.top_right {
			padding-left: 1%;
			h3 {
				font-size: 0.5em;
				color: grey;
			}

			img {
				height: 2.5vh;
			}
		}
	}
	.mid_title {
		display: flex;
		flex-wrap: wrap;
		text-align: center;
		justify-content: center;
		align-items: center;
		width: auto;
		height: auto;
		font-size: 1em;
	}
	.media_container {
		height: auto;
		width: auto;
	}
	.text_area {
		display: flex;
		align-self: center;
		flex-wrap: wrap;
		justify-content: center;
		text-align: center;
		font-size: 0.5em;
		width: 80%;
		margin-left: auto;
		margin-right: auto;
	}
	.bottom_container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 5vh;
		width: 85%;
		.card {
			width: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
			margin: 1%;
			width: auto;
			h3 {
				font-size: 0.5em;
			}
			img {
				height: 30px;
				padding-right: 2%;
			}
			img:hover {
				background: red;
			}
		}
	}
}
.expandable-body {
	padding-left: 0.5em;
	padding-bottom: 1em;
}

.hidden-class {
	display: none;
}

.slytherin_top_bottom {
	border-top: 1px solid $slytherin_silver;
	border-bottom: 1px solid $slytherin_silver;
}
.gryffindor_top_bottom {
	border-top: 1px solid $gryffindor_gold;
	border-bottom: 1px solid $gryffindor_gold;
}
.hufflepuff_top_bottom {
	border-top: 1px solid $hufflepuff_black;
	border-bottom: 1px solid $hufflepuff_black;
}
.ravenclaw_top_bottom {
	border-top: 1px solid $ravenclaw_bronze;
	border-bottom: 1px solid $ravenclaw_bronze;
}
