.container {
	margin-left: -20vw;
	position: relative;
	z-index: 50;
}

.snitch {
	position: fixed;
	top: 40%;
	margin-top: 20vh;
	animation: animate 10s infinite;
    animation-direction: alternate-reverse;
    animation-iteration-count: 2;
	z-index: 50;
	width: 100px;
	height: 100px;
    fill: gold;
}

.snitch_null {
	display: none;
}

@keyframes animate {
	0% {
		transform: translate(0) scale(0.1);
	}

	100% {
		transform: translate(80vw) rotateZ(90deg) scale(2);
	}

	70% {
		transform: rotateX(180deg) rotateY(90deg) scale(0.1);
	}
}
