@font-face {
    font-family: 'harryp';
    src: url('../../../HARRYP__.TTF') format('truetype');
    
  }

  @font-face {
    font-family: 'lumos';
    src: url('../../../LUMOS.TTF') format('truetype');
  }

 
  $slytherin_green: green 4em;
  
  .sortingHatQuestionBox {
    display: flex;
    flex-direction: column;
  }
  
  .quiz {
    font-size: 40px;
    display: flex;
    margin-left: 45%;
    font-family: 'harryp'
  }
  
  .answer {
    border-bottom: .5px solid black
  }
  
  .answer:hover {
    cursor: pointer;
    background: rgba(153, 153, 173, 0.58);
  }
  
  .answer:active {
    cursor: pointer;
    background: rgba(66, 66, 71, 0.58);
  }
  
  .sortingHatPicture {
    justify-content: center;
    width: 20%;
    height: 20%;
    margin-top: 8vh;
    margin-left: 40%;
    margin-right: 40%;
  }
  
  .sortingHatQuestion {
    display: flex;
    justify-content: center;
    margin-top: 5vh;
    font-size: 28px;
    margin-left: 28vw;
    margin-right: 25vw;
    // font-style: italic;
    font-family: 'lumos';
  }
  
  .sortingHatAnswers {
    margin-top: 5vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 47%;
    margin-left: 28%;
    margin-right: 40%;
    font-size: 20px;
    border-top: .5px solid black;
    border-left: .5px solid black;
    border-right: .5px solid black;
  }
  
  .sortingHatAnswers hover {
    cursor: pointer;
  }
  
  
  
  
  
  