@font-face {
    font-family: 'harryp';
    src: url('../../../HARRYP__.TTF') format('truetype');
    
  }

  @font-face {
    font-family: 'lumos';
    src: url('../../../LUMOS.TTF') format('truetype');
  }
$slytherin_green: #1a472a;
$slytherin_silver: #5d5d5d;
$gryffindor_red: #740001;
$gryffindor_gold: #d3a625;
$ravenclaw_blue: #0e1a40;
$ravenclaw_bronze: #946b2d;
$hufflepuff_black: #372e29;
$hufflepuff_yellow: #ecb939;


  .theQuiz {
    margin-top: -80px;
    width: 100%;
    height: 100%;
    position: absolute;

   .greatHallBackground {
    width: 100%;
    height: 100%;
    position: absolute;
  }

  .sortingHatQuestionBox {
    margin-top: -80px;
    display: flex;
    flex-direction: column;
    position: absolute;
    color: white;
    background: rgba(31, 28, 28, 0.39);
    top: 15vh;
    min-width: 100%;
   
   

   #quiz_name {
    font-size: 40px;
    display: flex;
    left: 41.5vw;
    font-family: 'harryp';
    justify-content: center;
    position: absolute;
    margin-bottom: 10vh;
    border-bottom: 5px solid rgba(90, 46, 28, 0.424);
  }
   
  }
  }

  .answer {
    border-bottom: .5px solid black;
    padding-bottom: 2vh;
  }
  
  .answer:hover {
    cursor: pointer;
    background: rgba(153, 153, 173, 0.58);
  }
  
  .answer:active {
    cursor: pointer;
    background: rgba(66, 66, 71, 0.58);
  }
  
  .sortingHatPicture {
    justify-content: center;
    width: 20%;
    height: 20%;
    margin-top: 10vh;
    margin-left: 40%;
    margin-right: 40%;
    z-index: 8;
  }
  
  .sortingHatQuestion {
    font-family: 'lumos';
    display: flex;
    justify-content: center;
    margin-top: 3.5vh;
    font-size: 28px;
    margin-left: 28vw;
    margin-right: 25vw; 
  }
  
  .sortingHatAnswers {
    margin-top: 5vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 47%;
    margin-left: 28%;
    margin-right: 40%;
    font-size: 20px;
    border-top: .5px solid black;
    border-left: .5px solid black;
    border-right: .5px solid black;
    font-family: 'lumos';
  }
  
  .sortingHatAnswers hover {
    cursor: pointer;
  }
  
  .tweetButton {
    position: fixed;
    right: 2%;
    bottom: 2%;
    img {
      filter: invert(100%);
      width: 50px;
      height: 66px;
    }
    width: 100px;
    height: 100px;
    margin-left: 80vw;
    background: $slytherin_green;
    border: 1px solid $slytherin_silver;
    float: left;
    border-radius: 50%;
  }
  
  
  
  
  