@font-face {
  font-family: 'harryp';
  src: url('../../../HARRYP__.TTF') format('truetype');
}

@font-face {
  font-family: 'lumos';
  src: url('../../../LUMOS.TTF') format('truetype');
}
$slytherin_green: #1a472a;
$slytherin_silver: #5d5d5d;
$gryffindor_red: #740001;
$gryffindor_gold: #d3a625;
$ravenclaw_blue: #0e1a40;
$ravenclaw_bronze: #946b2d;
$hufflepuff_black: #372e29;
$hufflepuff_yellow: #ecb939;

.theQuiz {
  background-image: url('https://vignette.wikia.nocookie.net/harrypotter/images/b/bd/High_Table_PS.png/revision/latest?cb=20161120225850');
  background-position: center;
  background-size: cover;
  height: 92vh;
  margin-top: 80px;
  margin-left: -73px;
  padding-bottom: 80px;

  .sortingHatQuestionBox {
    display: flex;
    flex-direction: column;
    color: white;

    #quiz_name {
      font-size: 60px;
      display: flex;
      margin: 50px;
      font-family: 'harryp';
      justify-content: center;
    }
  }
}

.answer {
  border-bottom: 0.5px solid black;
  padding-bottom: 2vh;
}

.answer:hover {
  cursor: pointer;
  background: rgba(153, 153, 173, 0.58);
}

.answer:active {
  cursor: pointer;
  background: rgba(66, 66, 71, 0.58);
}

.sortingHatPicture {
  justify-content: center;
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
}

.sortingHatQuestion {
  font-family: 'lumos';
  display: flex;
  justify-content: center;
  margin-top: 3.5vh;
  font-size: 28px;
  margin-left: 28vw;
  margin-right: 25vw;
}

.sortingHatAnswers {
  margin-top: 5%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 47%;
  margin-left: 28%;
  margin-right: 40%;
  font-size: 20px;
  border-top: 0.5px solid black;
  border-left: 0.5px solid black;
  border-right: 0.5px solid black;
  font-family: 'lumos';
}

.sortingHatAnswers hover {
  cursor: pointer;
}

.tweetButton {
  position: fixed;
  right: 2%;
  bottom: 2%;
  img {
    filter: invert(100%);
    width: 50px;
    height: 66px;
  }
  width: 70px;
  height: 70px;
  margin-left: 80vw;
  background: $slytherin_green;
  border: 1px solid $slytherin_silver;
  float: left;
  border-radius: 50%;
}
