$slytherin_green: #1a472a;
$slytherin_silver: #5d5d5d;
$gryffindor_red: #740001;
$gryffindor_gold: #d3a625;
$ravenclaw_blue: #0e1a40;
$ravenclaw_bronze: #946b2d;
$hufflepuff_black: #372e29;
$hufflepuff_yellow: #ecb939;
.chat_envelope {
	// margin-top: 60px;
	display: flex;
	flex-direction: row;
}

.chat {
	display: flex;
	flex-direction: column;
	align-self: center;
	text-align: center;
	margin-bottom: 40px;
	margin-top: 60px;
	margin-left: 200px;
	// z-index: 100;
	width: 100%;
}
// @media (max-width: 600px) {
// 	.chat_envelope {
// 		margin-left: -30px;
// 	}
// }

.selected {
	background: gray;
}
.message_container {
	display: flex;
	position: fixed;
	flex-direction: column;
	overflow-y: scroll;
	min-height: 100px;
	max-height: 1000px;
	width: 200px;
	height: 100%;
	border: 1px solid black;
}

.message_friend {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	// top: 0;
	// border: 1px solid black;
}

.chat_input {
	position: fixed;
	bottom: 0px;
	width: 66%;
	margin: 5px;
}

.user_message {
	display: flex;
	align-items: center;
	align-self: flex-start;
	padding: 10px;
	border-radius: 15px;
	color: white;
}

.friend_message {
	display: flex;
	align-items: center;
	align-self: flex-end;
	padding: 10px;

	border-radius: 15px;
	color: white;
}

.slytherin_color {
	background: $slytherin_green;
}
.gryffindor_color {
	background: $gryffindor_red;
}
.hufflepuff_color {
	background: $hufflepuff_yellow;
}
.ravenclaw_color {
	background: $ravenclaw_blue;
}

.slytherin_secondary_color {
	color: white;
	background: $slytherin_silver;
}
.gryffindor_secondary_color {
	color: white;
	background: $gryffindor_gold;
}
.hufflepuff_secondary_color {
	color: white;
	background: $hufflepuff_black;
}
.ravenclaw_secondary_color {
	color: white;
	background: $ravenclaw_bronze;
}

.friend_outer {
	display: flex;
	align-content: center;
	align-self: flex-end;
	margin: 10px;
}

.user_outer {
	display: flex;

	align-content: center;
	align-self: flex-start;
	margin: 10px;
}

.sm {
	width: 50px;
	height: 60px;
}

.chatHeader {
	margin-top: -60px;
	background: black;
	width: 100%;
	border-bottom: 1px solid black;
	position: fixed;
	top: 50;
	z-index: 50;
}
