$slytherin_green: #1a472a;
$slytherin_silver: #5d5d5d;
$gryffindor_red: #740001;
$gryffindor_gold: #d3a625;
$ravenclaw_blue: #0e1a40;
$ravenclaw_bronze: #946b2d;
$hufflepuff_black: #372e29;
$hufflepuff_yellow: #ecb939;

.chat {
	display: flex;
	flex-direction: column;
	align-self: center;
	text-align: center;
	margin-bottom: 40px;
	z-index: 100;
	width: 80vw;
}

.message_container {
	display: flex;

	flex-direction: column;
	margin-bottom: 50px;
	width: 200px;
	height: auto;
	border: 1px solid black;
}

.message_friend {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	border: 1px solid black;
}

.avatar {
	width: 50px;
	height: 50px;
	border-radius: 50%;
}

.chat_input {
	position: fixed;
	bottom: 5px;
	left: 5px;
	right: 5px;
}

.user_message {
	display: flex;
	align-items: center;
	align-self: flex-start;
	padding: 10px;
	border-radius: 15px;
	background-color: darkblue;
	color: white;
}

.friend_message {
	display: flex;
	align-items: center;
	align-self: flex-end;
	padding: 10px;

	border-radius: 15px;
	background-color: green;
	color: white;
}

.friend_outer {
	display: flex;
	align-content: center;
	align-self: flex-end;
	margin: 10px;
}

.user_outer {
	display: flex;

	align-content: center;
	align-self: flex-start;
	margin: 10px;
}

.sm {
	width: 100px;
	height: 115px;
}

.chatHeader {
	width: 100%;
	border-bottom: 1px solid black;
	position: fixed;
	top: 50;
}
